@import "bootstrap-icons/font/bootstrap-icons.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in {
    animation: fade-in 0.6s ease-out both;
}

.text-primary {
    @apply text-blue-900;
}

.text-secondary {
    @apply text-indigo-500;
}

.bg-back{
    @apply bg-gray-100;
}

.bg-primary {
    @apply bg-blue-900;
}

.bg-secondary {
    @apply bg-indigo-600;
}

.bg-alt{
    @apply bg-blue-500;
}

.btn-primary {
    @apply inline-flex items-center justify-center bg-blue-900 text-white hover:bg-blue-800
    font-semibold rounded-xl shadow-md transition-all duration-300 hover:scale-105 active:scale-95;
}
.btn-secondary {
    @apply inline-flex items-center justify-center bg-indigo-500 text-white hover:bg-indigo-400
    font-semibold rounded-xl shadow-md transition-all duration-300 hover:scale-105 active:scale-95;
}

.btn-gray {
    @apply inline-flex items-center justify-center bg-gray-200 text-black hover:bg-gray-300
    font-semibold rounded-xl shadow-md transition-all duration-300 hover:scale-105 active:scale-95;
}

.btn-success {
    @apply inline-flex items-center justify-center bg-green-600 text-white hover:bg-green-500
    font-semibold rounded-xl shadow-md transition-all duration-300 hover:scale-105 active:scale-95;
}

.btn-warning {
    @apply inline-flex items-center justify-center bg-red-700 text-white hover:bg-red-600
    font-semibold rounded-xl shadow-md transition-all duration-300 hover:scale-105 active:scale-95;
}

.text-hover{
    @apply w-full flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-50
}

.text-red{
    @apply w-full flex items-center px-4 py-2 text-sm text-red-500 hover:bg-gray-50
}

.text-gray{
    @apply text-gray-600;
}

.text-gray-secondary{
    @apply text-gray-800;
}

.border-primary{
    @apply border-blue-900;
}

.border-secondary{
    @apply border-indigo-600;
}

.border-gray{
    @apply border-gray-100;
}

.form-input{
    @apply w-full mt-1 px-4 py-2 border border-gray-300 rounded-lg focus:ring-indigo-500 focus:border-indigo-500;
}

.form-input-big{
    @apply bg-white border border-gray-300 rounded-xl shadow-sm text-gray-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 transition-all;
}

.dropdown-select{
    @apply w-full bg-white border border-gray-300 rounded-lg shadow-sm appearance-none text-gray-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 transition-all
}

.card-about{
    @apply absolute inset-0 bg-gradient-to-t from-indigo-900 to-transparent opacity-0 group-hover:opacity-70 transition-all duration-300
}

.card-about-img{
    @apply w-full h-48 object-cover object-center group-hover:scale-110 transition-all duration-500;
}

.home-ads-style{
    @apply bg-white rounded-2xl overflow-hidden shadow-[0_20px_60px_-15px_rgba(0,0,0,0.2)] hover:shadow-[0_35px_80px_-20px_rgba(0,0,0,0.3)] transition-all duration-300 transform hover:-translate-y-2 cursor-pointer;
}

.home-property-card-style{
    @apply bg-white rounded-xl border-2 border-transparent hover:border-indigo-600 transition duration-300 shadow-md hover:shadow-2xl transform hover:-translate-y-2 cursor-pointer p-6 flex flex-col items-center text-center;
}

.home-icon-style{
    @apply w-20 h-20 flex items-center justify-center rounded-full bg-gray-100 mb-4 transition duration-300 group-hover:scale-110;
}




