<div class="relative dropdown-wrapper"> <!-- "dropdown-wrapper" classe wrapper para invocar no java script-->
    <select class="p-2 pl-4 pr-10 dropdown-select"> <!-- "dropdown-select" classe de estilo do dropdown no css-->
        <option>Máximo</option>
        <option>500.000€</option>
        <option>1.000.000€</option>
    </select>
    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-4 text-gray-700">
        <i class="chevron bi bi-chevron-right transition-transform duration-300 ease-in-out"></i> <!-- "bi bi-chevron-right" icone a ser utilizado (Bootstrap Icons)-->
    </div>
</div>

<script>
    // Dropdown com chevron animado
    document.querySelectorAll('.dropdown-wrapper').forEach(wrapper => {
        const chevron = wrapper.querySelector('.chevron');

        wrapper.addEventListener('click', () => {
            chevron.classList.toggle('rotate-90');
        });

        document.addEventListener('click', (e) => {
            if (!wrapper.contains(e.target)) {
                chevron.classList.remove('rotate-90');
            }
        });
    });
</script>

